<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h2 class="widget-title"><b>关于我</b></h2>
    <div class="widget">
 <front size="3"><b>邮箱</b>：liangzelang@gmail.com<br>
 <b>现状</b>： 目前就职于华为2012实验室，从事深度学习框架的软件开发工作。个人喜欢图像处理、计算机视觉等领域。更多以及<a href="http://cv.qiaobutang.com/r/5997e28c0cf202fca1a62686">个人简历</a></front>
    </div>
  </div>
<% } %>
